@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import "tailwindcss";
@import "preline/variants.css";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  /* Couleurs de base */
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;
  --color-off-white: #fefefe;

  /* Nuances de gris neutres légèrement teintées */
  --color-slate-50: oklch(0.984 0.003 50);
  --color-slate-100: oklch(0.968 0.007 50);
  --color-slate-200: oklch(0.929 0.013 50);
  --color-slate-300: oklch(0.869 0.022 50);
  --color-slate-400: oklch(0.704 0.04 50);
  --color-slate-500: oklch(0.554 0.046 50);
  --color-slate-600: oklch(0.446 0.043 50);
  --color-slate-700: oklch(0.372 0.044 50);
  --color-slate-800: oklch(0.279 0.041 50);
  --color-slate-900: oklch(0.208 0.042 50);
  --color-slate-950: oklch(0.129 0.042 50);

  /* Palette du blanc au jaune pétant */
  --color-yellow-50: #ffffe7;
  --color-yellow-100: #ffffc1;
  --color-yellow-200: #fffb86;
  --color-yellow-300: #fff141;
  --color-yellow-400: #ffeb3b;
  --color-yellow-500: #ffd200;
  --color-yellow-600: #d19a00;
  --color-yellow-700: #f3a712;
  --color-yellow-800: #f3a712;
  --color-yellow-900: #f3a712;
  --color-yellow-950: #f3a712;

  /* Polices de caractères */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply font-work-sans;
  }

  h1,
  h2,
  h3,
  h4,
  .dm-sans {
    @apply font-dm-sans;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility card {
  @apply relative z-10 flex h-full flex-col border-dashed border-slate-300 p-4 before:absolute before:inset-0 before:-z-1 before:bg-linear-to-b/oklch before:via-80% before:opacity-0 hover:before:from-transparent hover:before:via-transparent hover:before:to-yellow-500/20 hover:before:opacity-100 focus:outline-hidden focus:before:from-transparent focus:before:via-transparent focus:before:to-yellow-500/20 focus:before:opacity-100 md:p-6;
}
